WCF/WCF_SGO/ConsoleAppTest/Service References/ServiceCVenta/ServiceCVenta43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Persistence.domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Persistence.domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComprobanteCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComprobanteCliente" nillable="true" type="tns:ComprobanteCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComprobanteCliente" nillable="true" type="tns:ArrayOfComprobanteCliente" />
  <xs:complexType name="ComprobanteCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correlativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="ImporteSubtotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteTotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Impuesto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreArhivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAZONSOCIAL_PRODELSUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC_PRODELSUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMoneda" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComprobanteCliente" nillable="true" type="tns:ComprobanteCliente" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="bCambioPassword" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="dFecha_Mod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nEstado" type="xs:int" />
      <xs:element minOccurs="0" name="nIdUsuario_Mod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vApeMat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vApePat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vCodTrabajador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vIdJefatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>