WCF/WCF_SGO/ConsoleAppTest/Service References/ServiceCVenta/ServiceCVenta41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63343/CVenta/ServiceCVenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:import schemaLocation="http://localhost:63343/CVenta/ServiceCVenta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Persistence.domain" />
  <xs:element name="GetComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idComprobante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetComprobanteResult" nillable="true" type="q1:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLisComprobanteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nroDocumentoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoComprobante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correlativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLisComprobanteClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Persistence.domain" minOccurs="0" name="GetLisComprobanteClienteResult" nillable="true" type="q2:ArrayOfComprobanteCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Persistence.domain" minOccurs="0" name="GetValidarUsuarioResult" nillable="true" type="q3:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>