WCF_SGO/WCF_SGO/ConsoleAppTest/Service References/ServiceCVentaOne/ServiceCVenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCVenta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63347/CVenta/ServiceCVenta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63347/CVenta/ServiceCVenta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63347/CVenta/ServiceCVenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:63347/CVenta/ServiceCVenta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Persistence.domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCVenta_GetComprobante_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComprobante" />
  </wsdl:message>
  <wsdl:message name="IServiceCVenta_GetComprobante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCVenta_GetLisComprobanteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLisComprobanteCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceCVenta_GetLisComprobanteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLisComprobanteClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCVenta">
    <wsdl:operation name="GetComprobante">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCVenta/GetComprobante" message="tns:IServiceCVenta_GetComprobante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCVenta/GetComprobanteResponse" message="tns:IServiceCVenta_GetComprobante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLisComprobanteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCVenta/GetLisComprobanteCliente" message="tns:IServiceCVenta_GetLisComprobanteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCVenta/GetLisComprobanteClienteResponse" message="tns:IServiceCVenta_GetLisComprobanteCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCVenta" type="tns:IServiceCVenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComprobante">
      <soap:operation soapAction="http://tempuri.org/IServiceCVenta/GetComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLisComprobanteCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceCVenta/GetLisComprobanteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCVenta">
    <wsdl:port name="BasicHttpBinding_IServiceCVenta" binding="tns:BasicHttpBinding_IServiceCVenta">
      <soap:address location="http://localhost:63347/CVenta/ServiceCVenta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>