WCF/WCF_SGO/CWC/Service References/ServiceComprobante/ServiceComprobanteVenta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Persistence.domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Persistence.domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_LisComprobanteCliente_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_LisComprobanteCliente_Result" nillable="true" type="tns:usp_LisComprobanteCliente_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_LisComprobanteCliente_Result" nillable="true" type="tns:ArrayOfusp_LisComprobanteCliente_Result" />
  <xs:complexType name="usp_LisComprobanteCliente_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correlativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstadoProceso" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ImporteSubtotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteTotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Impuesto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RAZONSOCIAL_PRODELSUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC_PRODELSUR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_LisComprobanteCliente_Result" nillable="true" type="tns:usp_LisComprobanteCliente_Result" />
</xs:schema>