WCF_SGO/WCF_SGO/ConsoleAppTest/Service References/ServiceUsuario/UsuarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63343/SGOTouch/UsuarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63343/SGOTouch/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63343/SGOTouch/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Persistence.domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioService_Validar_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Validar_Usuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_Validar_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Validar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_GetValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_GetValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioService">
    <wsdl:operation name="Validar_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/Validar_Usuario" message="tns:IUsuarioService_Validar_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/Validar_UsuarioResponse" message="tns:IUsuarioService_Validar_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/GetValidarUsuario" message="tns:IUsuarioService_GetValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/GetValidarUsuarioResponse" message="tns:IUsuarioService_GetValidarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioService" type="tns:IUsuarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validar_Usuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/Validar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/GetValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port name="BasicHttpBinding_IUsuarioService" binding="tns:BasicHttpBinding_IUsuarioService">
      <soap:address location="http://localhost:63343/SGOTouch/UsuarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>